@using Kruger.Marketplace.Application.ViewModels.Pagina

@{
    var appInfo = new AppInfo();

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - @appInfo.AppName - Versão @appInfo.AppVersion
        </div>
    </footer>
}